body{
   background-color: initial;
}

#student1{
   background-color: initial;
   font-family:initial;
   color:initial;
   
}

#student2{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#student3{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#student4{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#student5{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}